*{
    margin: 0;
    padding: 0;
}
body{
    background-image:linear-gradient(to right,rgba(224, 203, 203, 0.7),rgb(194, 199, 226));
    width: 100%;
    object-fit:contain;
    overflow: hidden;
}
.employee-login{
    width: 50%;
    height: 50vh;
    margin:5rem ;
    margin-left: 20rem;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
}
h1{
   padding: 10px;
}
.user{
    padding: 10px 20px;
    border-radius: 5px;
}
#user-icon-img{
    width: 20px;
    vertical-align: bottom;
   
}
span{
    color: blue;
}
input{
    padding: 10px 30px;
}
.submit-button{
    padding: 10px 45px;
    background-color: blue;
    color: aliceblue;
    cursor:pointer;
}

#office-img{
    display:inline;
    width: 100px;
    margin:10px;

}
